<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLconnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\StoreDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.StoreDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\StoreDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.StoreDatabaseConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Zj\Documents\Inventory Database\StoreDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.StoreDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\StoreDatabase.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.StoreDatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\StoreDatabase - Copy.mdf&quot;;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.StoreDatabaseConnectionString3"
            connectionString="Data Source=TRADERJOE\SQLEXPRESS;Initial Catalog=&quot;C:\PROGRAM FILES (X86)\INVENTORY\STOREDATABASE.MDF&quot;;Integrated Security=SSPI" />
        <add name="Inventory.Properties.Settings.SQLServerConnectionString"
            connectionString="Data Source=tcp:TRADERJOE\SQLEXPRESS,49172;Initial Catalog=&quot;C:\PROGRAM FILES (X86)\INVENTORY\STOREDATABASE.MDF&quot;;Persist Security Info=True;User ID=changethis;Password=changethis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>